#item-view {
  padding: 8px 8px 16px 16px;
  box-sizing: border-box;
  background-color: var(--fds-solid-background-tertiary);
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  gap: 8px;
  &.mobile {
    padding: 8px;
    :global(.options) {
      margin-left: 78px;
    }
  }
}
textarea,
input {
  resize: none;
  width: 100%;
  background-color: transparent;
  color: var(--fds-text-primary);
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
#item-title {
  font-size: var(--fds-title-font-size);
}
#item-content {
  flex: 1;
  margin-top: 4px;
  font-size: var(--fds-body-font-size);
}
#groups {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
