#settings-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px;
  gap: 12px;
  background-color: var(--fds-solid-background-base);
  &.mobile > #settings-title {
    margin-left: 42px;
  }
}
.setting {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 4px;
}
:global(.setting > .text-block) {
  padding: 4px 0px !important;
}
:global(.expander .expander-content)
{
  display: flex;
  flex-direction: column;
  gap:16px;
}
:global(.expander hr)
{
  border: 0px;
  margin: 0px -16px;
  border-top: 1px solid var(--fds-solid-background-base);
}
