#group-view {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--fds-solid-background-base);
    max-height: 100%;
}

#item-list-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px 8px 0px;
    box-sizing: border-box;
    max-height: 100%;
}

#item-container {
    flex: 2;
    display: flex;
    height: 100%;
    max-height: 100%;
}

.master-view-stacked-options {
    margin-left: 38px;
}

:global(.master-detail.stacked .group-options) {
    margin-left: 38px;
}